<!-- bookings.html -->
{% extends 'main/base.html' %}
{% block content %}
<div class="container">
<h2>Available Buses</h2>
<form action="" method="GET" class="login-form">
          <div class="form-group">
            <label for="from">From</label>
            <input type="text" name="from_place" placeholder="From">
          </div>

          <div class="form-group">
            <label for="to">To</label>
            <input type="text" name="to_place" placeholder="To">
          </div>

          <div class="form-group">
            <label for="Day">Day</label>
            <input type="text" name="Day">
          </div>

          <div class="form-actions">
            <button type="submit" class="btn primary">Search</button>
            <a href="#" class="link small">Reset</a>
          </div>




</form>


{% if schedules %}
{% for s in schedules %}
<div class="card">
<h3>{{ s.bus.name }}</h3>
<p>From: {{ s.route.start }}</p>
<p>To: {{ s.route.end }}</p>
<p>Date: {{ s.date }}</p>
<p>Time: {{ s.time }}</p>
<p>Available: {{ s.available }}</p>
<a href="{% url 'start_booking' s.id %}">Book Now</a>
</div>
{% endfor %}
{% else %}
<p>No buses found</p>
{% endif %}
</div>
{% endblock %}