<!-- bus_register.html NOOOOOOOOOOOOOOOOOOOOo -->
{% extends 'main/base.html' %}
{% block content %}
<div class="container">
<h2>Add Bus Schedule</h2>
<form method="POST">{% csrf_token %}
<label>Select Bus</label>
<select name="bus_id">
{% for bus in buses %}
<option value="{{ bus.id }}">{{ bus.name }}</option>
{% endfor %}
</select>


<label>Date</label>
<input type="date" name="date">


<label>Time</label>
<input type="time" name="time">


<label>From</label>
<input type="text" name="from_place">


<label>To</label>
<input type="text" name="to_place">


<button type="submit">Add Schedule</button>
</form>
</div>
{% endblock %}