{% extends 'main/base.html' %}

{% block content %}
    <section class="hero">
      <div class="container hero-grid">
        <div class="hero-left">
          <h1 class="hero-title">Fast. Reliable. Everywhere.</h1>
          <p class="hero-text">
            We make everyday travel easier and keep bus services running smoothly.
          </p>

          <div class="hero-ctas">
            <a href="{% url 'bookings' %}" class="btn primary">Book your ticket</a>
            <a class="btn ghost" href="{% url 'register_bus' %}">Register your bus</a>
          </div>

          <ul class="features">
            <li><strong>99.99%</strong> uptime</li>
            <li><strong>Total</strong> coverage</li>
            <li><strong>24/7</strong> support</li>
          </ul>
        </div>

        <div class="hero-right">
          <div class="card">
            <div class="card-header">
              <span>Famous routes</span>
              <span class="badge">Recommended</span>
            </div>
            <div class="card-body">
              <h3>Meerut to Kanpur</h3>
              <p>Hari travels</p>

              <div class="card-meta">
                <div><strong>Time</strong><br><span>5 hours</span></div>
                <div><strong>Distance</strong><br><span>247km</span></div>
                <div><strong>Price</strong><br><span>445</span></div>
              </div>
            </div>  
            <div class="card-cta">
              <a href="{% url 'login'%}" class="btn small primary">Get started</a>
            </div>

          
          </div>
        </div>
      </div>
    </section>

    <section class="solutions container">
      <h2>Our solutions</h2>

      <div class="solution-grid">
        <article class="solution">
          <h3>Reliable</h3>
          <p>Operates with minimal downtime and full data protection.</p>
          <a href="#" class="link">Learn more →</a>
        </article>

        <article class="solution">
          <h3>Security</h3>
          <p>Choose the safest option you have.</p>
          <a href="#" class="link">Learn more →</a>
        </article>

        <article class="solution">
          <h3>Affordable</h3>
          <p>Get the cheapest deals all at one place.</p>
          <a href="#" class="link">Learn more →</a>
        </article>
      </div>
    </section>
 {% endblock %}