.bus-search-form input[type="checkbox"] {
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.bus-search-form input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.bus-search-form input[type="checkbox"]:checked {
  background-color: #007bff;
}

.bus-search-form input[type="checkbox"]:checked::before {
  transform: translateX(25px);
}
